.App {
    width: 90%;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.App-header {
    text-align: center;
    color: #900;
    margin: 1em 0;
    font-size: 1.2rem;
}